
.glass-effect{
    position: relative;
    background-color: rgba(129, 129, 129, 0.075);
    border: 1px solid rgba(255, 255, 255, 0.206);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.section{
    @apply flex flex-col md:flex-row justify-center my-14;
    h1{
        @apply text-4xl md:text-5xl
    }
}
.section.first{
    @apply w-full md:py-5 pt-0 pb-10;
    .my-profile{
        @apply 
        relative
        flex
        justify-center
        items-center
        md:flex-row
        md:gap-2
        flex-col
        ;
        .my-name{
            @apply z-40 absolute top-[40%] left-0;
            h1{
                @apply text-4xl text-left font-semibold dark:shadow-slate-800 shadow-slate-300
                ;
                text-shadow: 1px 1px 10px var(--tw-shadow-color)
            } 
            .line-x{
                @apply mt-3 relative;
            }
            .line-x::after, .line-x::before{
                content:"";
                height: 5px;
                width: 50px;
                @apply absolute bg-secondary-500 left-0;
            }

        }
        .my-pic{
            @apply relative flex justify-end md:max-w-[40%] lg:max-w-[50%] max-w-[70%];
            #my-image{
                @apply
                
                w-[80%]
                object-contain
                z-[10]
            }
            /* &::before{
                content: '';
                @apply absolute w-full h-12 z-40 border-0 border-b-2 bottom-0;
            } */
            /* &::after{
                content: '';
                @apply z-[-1] absolute w-[45%] h-[50%] border-0 border-l-2 border-b-2 bottom-[20px] left-[70%] bg-slate-500 blur-lg translate-x-[-50%];
            } */
        }
    };
    .my-description{
        
        @apply text-left  md:max-w-[45%] lg:max-w-[50%] max-w-[70%] pt-10 flex flex-col justify-center items-start;
        p:not(.text){
            @apply font-normal mb-3 text-sm lg:text-base text-secondary-600
        }
        .typing{
            @apply mb-3 text-2xl lg:text-3xl md:text-2xl break-words font-light dark:text-white
        }
        .my-links{
            @apply hidden md:flex;
            svg{
                @apply text-lg;
            }
        }
    }
}   
.my-links{
   @apply flex items-end gap-5 dark:text-white text-secondary-900
}

.section.second{
    @apply py-10 px-10 gap-5;
    /* background-color: #ffffff; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(-100.45 0) rotate(-6.149999999999999 1409 581) scale(0.9129569999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='translate(-143.5 82) rotate(4.100000000000001 800 450) scale(1.0005799999999998)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(8.2 -61.5) rotate(20.5 401 736) scale(1.0005799999999998)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(492 8.200000000000003) rotate(-2.0500000000000007 150 345) scale(0.9983189999999998)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='translate(-102.5 -225.5)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-262.4 65.6) scale(0.795)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat;
    .bio{
        --bio-bg-color: rgba(129, 129, 129, 0.075);
        position: relative;
        background-color: var(--bio-bg-color);
        border: 1px solid rgba(255, 255, 255, 0.206);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        .bio-details{
            @apply px-6 relative border-primary-600 flex flex-col gap-6;
            .line{
                background: rgb(129, 67, 68);
                background: linear-gradient(180deg, rgb(247, 2, 2) 0%, rgb(80, 80, 234) 71%, rgba(206, 207, 209, 0.4) 100%);
                @apply absolute h-full w-[2px] left-[50%] translate-x-[-50%]
            }
            .bio-detail{
                @apply flex relative w-[50%];
            
                .show{
                    @apply opacity-100 translate-x-[0];
                }
            }
            .bio-detail:nth-child(odd){
                @apply left-[51%];
            }
            .bio-detail:nth-child(odd)::before{
                content: '';
                backdrop-filter: blur(50px);
                -webkit-backdrop-filter: blur(50px);
                @apply absolute w-5 h-7 bg-slate-100 dark:bg-slate-800 rounded-full left-[-15px] top-[19px]
            }
            .bio-detail:nth-child(odd)::after{
                content: '';
                @apply absolute bg-red-500 w-3 h-3 md:left-[-14px] left-[-11px] top-[27.5px]
            }
            .bio-detail:nth-child(even)::before{
                content: '';
                backdrop-filter: blur(50px);
                -webkit-backdrop-filter: blur(50px);
                @apply absolute w-5 h-7 bg-slate-100 dark:bg-slate-800 rounded-full right-[-10px] top-[19px]
            }
            .bio-detail:nth-child(even)::after{
                content: '';
                @apply absolute bg-violet-700 w-3 h-3 right-[-6px] top-[27.5px]
            }
        }
    }
}
.section.third{
    .tech-icons{
        @apply p-5 gap-4 flex md:w-[500px] w-[400px] flex-wrap justify-around items-center translate-y-[100%] opacity-0 duration-[3s]
        
    }
    .tech-icons.show{
        @apply translate-y-0 opacity-[1];
    }
}

.section.fourth{

    .projects{
        .project-card{
            @apply relative p-7 flex md:flex-row flex-col items-center gap-3 md:gap-5;
            /* background: linear-gradient(90deg, rgba(12, 5, 232, 0.48) 0%, rgba(72,102,186,0.19166666666666665) 71%, rgba(9,35,130,0.15694444444444444) 100%); */
            .img-wrapper{
                @apply relative shadow-2xl dark:shadow-slate-500 dark:dark:bg-slate-800 bg-gray-100 rounded-lg overflow-hidden md:max-w-[200px] max-w-[170px] w-full ;
                .browser-btns{
                    @apply flex items-center gap-1 md:gap-2 md:p-3 p-2 ; 
                    .btn{
                        @apply w-2 h-2 md:w-3 md:h-3 rounded-full inline-block cursor-pointer;
                    }
                }
            }
            .content{
                @apply self-stretch flex flex-col justify-between;
                h2{
                    @apply text-lg mt-5 md:mt-0 md:text-left text-center  dark:text-white font-semibold;
                }
                p{
                    line-height: 1.8rem;
                    @apply dark:text-slate-500  self-stretch flex justify-center items-center text-center md:text-left;
                }
                .links{
                    @apply flex gap-2 md:justify-end justify-center
                }
                .links a{
                    letter-spacing: 0.05rem;
                    /* border: 2px solid; */
                    /* border-image-slice: 1px; */
                
                    @apply 
                    relative
                    text-secondary-500 transition-colors duration-100
                    flex
                    items-center
                    /* rounded-lg */
                    overflow-hidden
                    p-2;
                    /* border-image:  */
                    &:hover{
                        @apply text-secondary-900 dark:text-white;
                    }
                    &:hover::after{
                        @apply  translate-x-0;
                    }
                    &::after{
                        content: '';
                        @apply absolute
                        w-full
                        h-1
                        bottom-0
                        left-0
                        transition-transform
                        duration-200
                        translate-x-[-120%];
                        /* bg-red-400; */
                        background-image: linear-gradient(to right, #8e2de2, #4a00e0);
                    }
                }
            }
        }
        .project-card:nth-child(even){
            @apply md:flex-row-reverse;
            .content{
                h2{
                    @apply md:text-right
                }
                p{
                   @apply md:text-right; 
                } 
                .links{
                    @apply  md:justify-start;
                    
                }
            }
        }
        
    }
}


.section.fifth{
    .link{
        @apply transition-all;
        &:hover{
            @apply scale-125
        }
    }
}
