
.section{
    @apply flex flex-col md:flex-row justify-center
}
.section.first{
    @apply w-full md:py-5 px-10;
    .my-profile{
        @apply 
        relative
        flex-grow
        flex
        justify-between
        ;
        .my-name{
            h1{
                @apply text-5xl text-left font-bold dark:shadow-slate-800 shadow-slate-300
                ;
                text-shadow: 1px 1px 10px var(--tw-shadow-color)
            }
            @apply absolute top-[40%];
            .line-x{
                @apply mt-3 relative;
            }
            .line-x::after, .line-x::before{
                content:"";
                height: 5px;
                width: 50px;
                @apply absolute bg-secondary-500 left-0;
            }

        }
        .my-pic{
            /* @apply border-2 border-pink-200; */
            #my-image{
                @apply
                min-w-[300px]
                md:min-w-[340px]
                lg:min-w-[360px]
                w-[80%]
                aspect-auto
                object-contain
                z-[10]
            }
            .box-decor{
                @apply
                z-[-10]
                absolute
                bg-gray-400
                rounded-sm
                h-[70%]
                w-full
                left-[50%]
                bottom-0
                dark:shadow-slate-700
                shadow-slate-300;
                box-shadow: 0px 0px 10px 2px var(--tw-shadow-color);
                -webkit-box-shadow: 0px 0px 10px 2px var(--tw-shadow-color);
                -moz-box-shadow: 0px 0px 10px 2px var(--tw-shadow-color);
                transform: translate(-50%);
            }
            .box-decor:nth-child(3){
                @apply w-[50px] h-[50px] border-t-4 border-r-4 border-l-0 border-b-0 border-primary-900 
                top-[29.5%] right-[-3px]
                md:top-[29.5%] md:right-[5px]
                lg:top-[24%] lg:right-[3px]
                xl:top-[25%] xl:right-[14px]
                ;
            }
            .box-decor:nth-child(4){
                @apply w-[50px] h-[50px] border-l-4 border-b-4 border-t-0 border-r-0  border-primary-900 
                bottom-[1%] left-[-15px]
                md:left-[-8px]
                xl:left-[2px];
            }
        }
        .my-links{
            @apply md:opacity-0 md:pointer-events-none ;
            
        }
    };
    .my-description{
        
        @apply text-left md:w-[35%] pt-10 flex flex-col justify-center;
        p:not(.text){
            @apply font-normal mb-3 text-base lg:text-base md:text-sm text-secondary-600
        }
        h1{
            @apply mb-3 text-3xl lg:text-3xl md:text-2xl break-words font-semibold
        }
        .my-links{
            @apply hidden md:flex;
            svg{
                @apply text-lg;
            }
        }
    }
}   
.my-links{
   @apply flex items-end gap-5 dark:text-white text-secondary-900
}

.section.second{
    @apply py-10 px-10 gap-5;
    /* background-color: #ffffff; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(-100.45 0) rotate(-6.149999999999999 1409 581) scale(0.9129569999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='translate(-143.5 82) rotate(4.100000000000001 800 450) scale(1.0005799999999998)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(8.2 -61.5) rotate(20.5 401 736) scale(1.0005799999999998)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(492 8.200000000000003) rotate(-2.0500000000000007 150 345) scale(0.9983189999999998)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='translate(-102.5 -225.5)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-262.4 65.6) scale(0.795)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat;
    .bio{
        position: relative;
        background-color: rgba(129, 129, 129, 0.075);
        border: 1px solid rgba(255, 255, 255, 0.206);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);

        .line{
            @apply absolute top-9 left-5 h-full border-l-2 w-1;
        }
        .bio-details{
            @apply ml-5 border-0 border-l-2 border-primary-600 flex flex-col gap-14;
            .bio-detail{
                @apply flex relative pl-10;
                p{
                    @apply text-base dark:text-slate-800;
                }
                div::before{
                    content: '';
                    @apply h-[20px] w-[20px] left-[-10px] top-[50%] translate-y-[-50%] rounded-lg absolute bg-secondary-700;
                }
            }
            .bio-detail::before{
                content:'';
                @apply absolute left-[-15px] top-[50%] translate-y-[-50%]
                h-[30px] w-[30px] rounded-full dark:bg-secondary-900 bg-white;
                
            }
        }
        /* svg{
            @apply absolute h-full top-0 left-0;
        } */
    }
}
.section.third{
    .tech-icons{
        @apply p-5 gap-4 flex md:w-[500px] w-[400px] flex-wrap justify-around items-center
    }
}

/* .my-pic{
    @apply 
    w-[300px]
    h-[350px]
    md:w-[320px]
    md:h-[370px]
    transition-all
    relative
    cursor-pointer
    hover:scale-[1.04]
    hover:rotate-1;
    .inner{
        width: inherit;
        height: inherit;
        box-shadow: 0 0 10px;
        backdrop-filter: blur(10px);
        border-radius: 8px;
        overflow: hidden;
        @apply shadow-black dark:shadow-white;
    }
    .circle{
        @apply w-[50px]
        h-[50px]
        z-10
        bg-primary-900
        rounded-full
        absolute;
        animation: move-up6 2s ease-in infinite alternate-reverse;
    }
    .circle:nth-child(1){
        top: -25px;
        left: -25px;
    }
    .circle:nth-child(2) {
        bottom: -25px;
        right: -25px;
        animation-name: move-down1;
      }
    
}
*/
@keyframes move-up6 {
    to {
        transform: translateY(-10px);
    }
    }
    
    @keyframes move-down1 {
    to {
        transform: translateY(10px);
    }
    } 