@import './assets/css/header.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
*, *::before, *::after{
  @apply box-border m-0 p-0;
}
:root{
  @apply font-poppins text-base text-secondary-700;
  @apply transition-colors;
}
body{
  min-height: 100vh;
  @apply dark:bg-secondary-900;
  @apply transition-colors;
}
#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  @apply relative md:px-12 px-10
}

ul, li{
  text-decoration: none;
  list-style: none;
}

h1,p {
  @apply dark:text-white text-secondary-900 text-sm md:text-base
}

